<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="spring" type="Application" factoryName="Application">
    <option name="ALTERNATIVE_JRE_PATH" value="17" />
    <option name="MAIN_CLASS_NAME" value="hello.hellospring.HelloSpringApplication" />
    <module name="hello-spring.main" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>